/*================================================================
    Typos
==================================================================*/
$text-huge: 36px;
$text-huge-sm: 32px;
$text-larger: 24px;
$text-larger-sm: 20px;
$text-normal: 18px;
$text-normal-sm: 16px;
$text-small: 14px;
$text-small-sm: 11px;
$text-smaller: 12px;



$title-main: 64px;
$title-main-sm: 44px;

$title-normal: 48px;
$title-normal-sm: 38px;

$title-regular: 52px;
$title-regular-sm: 32px;

$title-xxl: 96px;
$title-xxl-sm: 50px;

/*================================================================
    height and width
==================================================================*/
$input-main-height: 65px;
$nav-height: 60px;
$header--1: 270px;
$step-dot: 12px;
$big-dot: 34px;

/*================================================================
    Colors
==================================================================*/
$white: #ffffff;
$black: #000000;
$white-2: rgba(255,255,255,0.3);
$white-3: #e5e5e5;
$black-bg: #16110D;
$black-2: #15100c;
$light_gray-transparent: rgba(25, 20, 16, .3);
$light_gray: #999999;
$gray: #c4c4c4;
$gray-2: #cccccc;
$gray-transparent: rgba(51, 49, 47, .52);
$main_black: #16110D;
$black-gray: #383536;
$blue-green: #176A78;
$light-blue: #55c4cb;
$azure-blue: #33f2fe;
$blue-green_dark: #1a4e56;
$blue-green-bg: #185d68;
$yellow: #F2E177;


/*================================================================
    Sizing, margin, padding
==================================================================*/
$medium_spacing: 20px;
