
.slider-wrapper {

    .layer-before-slider,
    .layer-after-slider {
        width: 150px;
    }
}

.customers-slider {

    padding-left: 40px;
    padding-right: 40px;
    .carousel-cell {
        width: 20%;
        height: auto;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: auto;
        }
    }
}

.in_numbers-slider::after {
    content: '';
}
#in_numbers .in_numbers-slider {
    display: flex;
}
#in_numbers .in_numbers-slider .carousel-cell{
    width: 33.333%;
    padding: 0;
}
