
%blue-green-input {
    border: 1px solid $light-blue;
    background-color: $blue-green-bg;
    color: $white;
}
%white-blue-input {
    border: 1px solid $light-blue;
    background-color: $white;
    color: $blue-green;
}
.calculate {

    h2 {
        margin: 0;
        font-weight: 350;
    }
    .description {
        font-size: $text-normal;
        font-weight: 400;
        margin-top: 0;
    }
    .custom-switch-container {
        p {
            font-size: $text-normal-sm;
            font-weight: 350;
            line-height: 18px;
        }
        label {
            margin-left: 10px;
            margin-right: 10px;
        }
        .input-type p {
            font-size: $text-normal;
            font-weight: 350;
            color: $white-3;
        }
    }

    .avg-return {
        margin-top: 40px;

        p {
            font-size: $text-normal-sm;
            font-weight: 350;
            color: $white-3;
            text-align: center;
            margin-top: 5px;
        }
        .avg-return-title--info {
            display: flex;
            .info {
                margin-top: 2px;
                margin-left: 5px;
            }
        }

        label {
            font-size: $text-normal-sm;
            font-weight: 350;
            color: $white-3;
            height: $input-small-height;
            position: relative;
            display: block;

            .percentage {
                position: absolute;
                top: 50%;
                left: 35px;
                transform: translate( 0, -50%);
                font-size: $text-larger-sm;
                color: $white;
            }

            &>span.avg-return-input-wrapper {
                position: absolute;
                top: 30px;
                left: 0;
                height: $input-small-height;
                width: 115px;
                display: block;
                text-align: left;

                input {
                    @extend %blue-green-input;
                    height: 100%;
                    width: 100%;
                    border-radius: 7px;
                    text-align: center;
                    margin-bottom: 5px;
                    font-size: $text-larger-sm;
                    padding-left: 10px;
                    text-align: left;
        
                    &:focus-visible {
                        border: 1px solid $light-blue;
                        outline: none;
                    }
        
                    &::-webkit-inner-spin-button {
                        opacity: 0;
                        margin-right: 10px;
                        z-index: 10;
                    }
                }
            }

        }
    }
    .current-age {
        margin-top: 40px;
        input {
            @extend %white-blue-input;
            height: $input-small-height;
            border-radius: 7px;
            display: block;
            width: 60px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: $text-larger;
            text-align: center;
            &:focus-visible {
                outline: none;
            }

            &::-webkit-inner-spin-button {
                display: none;
            }
        }
        label {
            font-weight: 350;
            color: $white-3;
        }
    }
}

// prospects
.tab-header {
    background-color: $white;
    border-bottom: 1px solid $black;

    .btn-add {
        margin: 20px 40px;
    }
}
.grid-title {
    .col-title {
        font-size: $text-normal-sm;
        font-weight: 700;
        color: $black-bg;
        line-height: 24px;
        text-transform: uppercase;
    }
}
.prospect-item {
    padding: 20px 10px;
    background-color: $white;
    border-radius: 11px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0,  0,  0, .25);
    line-height: 27px;

    .row-title {
        font-size: $text-normal;
        font-weight: 700;
        line-height: 27px;
        border-right: 1px solid $light_gray;
    }

    .col-title {
        font-size: $text-normal;
        font-weight: 400;
        color: $light_gray;
        margin: 0;
        line-height: 27px;
    }
    .col-desc {
        font-size: $text-normal;
        font-weight: 400;
        color: $black-bg;
        margin: 0;
        line-height: 27px;
    }
}
.grid-item {
    margin-right: 30px;
    &:last-of-type {
        margin-right: 0;
    }
    align-self: center;
    &.grid-title {
        .col-title {
            display: inline;
        }
        .arrow-down {
            display: inline;
            margin-left: 5px;
        }
    }
}

@media screen and (max-width: 767px) {
    .calculate {
        .avg-return {
            label {
                &>span.avg-return-input-wrapper {

                    .increase-arrow,
                    .decrease-arrow {
                        display: none;
                    }
                    width: 50px;
                    height: 32px;

                    input {
                        font-size: $text-normal;
                    }
                }
                .percentage {
                    left: unset;
                    right: 7px;
                    font-size: $text-normal;
                }
            }
        }

        .current-age {
            input {
                font-size: $text-normal;
                width: 50px;
                height: 32px;
            }
        }
    }
}
